.button {
  /*background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 50px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  margin: 4px 4px;
  transition-duration: 0.3s;
  cursor: pointer;
}

.button1 {
  background-image: url('images/babypinkbackground.jpg'); 
  background-size: cover;
  backgroun-position: center;
  border: none;
  color: white; 
}

.button1:hover {
  background-color: white;
  border: 2px solid #FFB7CE;
  color: white;
}
