body {
  margin:0px;

}
.button {
  /*background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 25px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 4px;
  transition: background-color 0.3s, color 0.3s
  /* transition-duration: 0.3s; */
  cursor: pointer;
}

.button1 {
  background-image: url('..images/babypinkbackground.jpg'); 
  background-size: cover;
  backgroun-position: center;
  border: none;
  color: white; 
  /*fail safe background color*/
  background-color: #FFB7CE;
}

.button1:hover {
  background-color: white;
  border: 2px solid #FFB7CE;
  color: #FFB7CE;
}

.button2 {
  background-image: url('..images/periwinkle.jpg'); 
  background-size: cover;
  backgroun-position: center;
  border: none;
  color: white; 
  /*fail safe background color*/
  background-color: #CCCCFF;
}

.button2:hover {
  background-color: white;
  border: 2px solid #CCCCFF;
  color: #CCCCFF;
}

.button3 {
  background-image: url('..images/periwinkle.jpg'); 
  background-size: cover;
  backgroun-position: center;
  border: none;
  color: white; 
  /*fail safe background color*/
  background-color: #8FD9FB;
}

.button3:hover {
  background-color: white;
  border: 2px solid #8FD9FB;
  color: #8FD9FB;
}

.centering {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 320px;
}

nav {
  background-color: #503130;
  width: 100%;
 /* margin-bottom: 10%;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding:1%;
  */
  text-align: center;
  top:0;
}
/*now need to code the individual items in the total nav*/
nav ul {
  list-style-type: none;
  display: inline;
  margin:0;
  padding:0'
}

nav ul li {
  display: inline-block;
  margin: 0% 2% 0% 2%;
  white-space: nowrap;

}

nav ul li a {
  color: white;
  padding: 1% 3% 1% 3%;
  white-space: nowrap;
}

/* Style for the active page link */
nav ul li a.active {
  background-color: white; /* White background for active */
  color: #503130; /* Brown text for active */
  border-bottom: 3px solid #503130; /* Brown underline */
}

p {
  paddding: 10px;
}
