.button {
  /*background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 50px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  margin: 4px 4px;
  transition: background-color 0.3s, color 0.3s
  /* transition-duration: 0.3s; */
  cursor: pointer;
}

.button1 {
  background-image: url('...images/babypinkbackground.jpg'); 
  background-size: cover;
  backgroun-position: center;
  border: none;
  color: white; 
  /*fail safe background color*/
  background-color: pink;
}

.button1:hover {
  background-color: white;
  border: 2px solid #FFB7CE;
  color: #FFB7CE;
}

.button2 {
  background-image: url('...images/babypinkbackground.jpg'); 
  background-size: cover;
  backgroun-position: center;
  border: none;
  color: white; 
  /*fail safe background color*/
  background-color: pink;
}

.button2:hover {
  background-color: white;
  border: 2px solid #CCCCFF;
  color: #CCCCFF;
}

